.campaign-core-details {
    margin: 20px 0px;
}
.delete-button {
    margin: 0;
    height: 2rem;
    width: 75px;
    font-size: 16px;
}

.Subject-content {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #464646;
}
.subject-heading {
    font-size: 24px;

    font-weight: 600;
}
.heading-content {
    font-size: 16px;
    line-height: 10px;
    color: #464646;
}
.detail-headings {
    font-size: 16px;
    font-weight: 700;
}
.campaign-content {
    margin: 20px 0;
    font-size: 17px;
    color: #464646;
    text-align: justify;
}
.next-schedule-info {
    margin: 20px 0;
    font-size: 18px;
    color: #03045e;
}
